---
# clang-tidy seem drunk, had to add "-cert-dcl58-cpp" and "-bugprone-branch-clone"
# which seem to not behave correctly.
Checks: "*,
    -abseil-*,
    -altera-*,
    -android-*,
    -fuchsia-*,
    -llvm*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
    
    -cert-dcl58-cpp,
    -bugprone-branch-clone,
"
WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        webkit
CheckOptions:
  readability-identifier-length:
    MinimumVariableNameLength: 2
    MinimumParameterNameLength: 2
