---
Checks: "*,
    -abseil-*,
    -altera-*,
    -android-*,
    -fuchsia-*,
    -google-*,
    -llvm*,
    -zircon-*,
    -readability-else-after-return,
    -readability-static-accessed-through-instance,
    -readability-avoid-const-params-in-decls,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -misc-non-private-member-variables-in-classes,
    -misc-unused-alias-decls,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -concurrency-mt-unsafe,
    -readability-identifier-length,
    -misc-no-recursion,
    -cert-err58-cpp,
    -readability-function-cognitive-complexity,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-magic-numbers,
"
WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        webkit
