---
Checks: "*,
    -abseil-*,
    -altera-*,
    -android-*,
    -fuchsia-*,
    -llvm*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
"
WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        webkit
CheckOptions:
  - key:    readability-identifier-length.MinimumVariableNameLength
    value:  2
  - key:    readability-identifier-length.MinimumParameterNameLength
    value:  2
